{% extends 'base.html' %}
{% block menu %}
<li><a href="{% url 'webapp:create_photo' %}" class="nav nav-link">Создать фото</a></li>

{% endblock %}
{% block content %}
    <h1 class="text-center">Все фото наших пользователей</h1>
    {% for photo in photos %}
        <div class="row">
        <div class="col-4">
            <img src="{{ photo.img.url }}" alt="" height="250" width="250">
        </div>
        <div class="col-8">
            <p>Автор: {{ photo.author.username }}</p>
            <p>Подпись: {{ photo.signature }}</p>
            <p>Рейтинг: {{ photo.likes }}</p>
            <p>Дата создания: {{ photo.created_at|date:"Y-m-d H:i:s" }}</p>
        </div>
        </div>
    {% endfor %}
{% endblock %}